1. What are the characteristics of} the tuples? Is tuple immutable?

They are indexed
,Tuples are ordered
,These are immutable
,They can contain duplicate items

2. What are the two tuple methods in python? Give an example of each method. Give a reason why 
tuples have only two in-built methods as compared to Lists.

In [111]:
#Tuple method:
# consider the following tuple
1.
a=(1,3,4,5,3,1,234,5)
a.count(1)
2.
a.index(1)
# The reason is simple : tuples are immutable ,means you cannot change their contents after they are created.The length of tulple is fixed

0

Q3.  Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove 
duplicates from the given list.

In [112]:
mylist= [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
myset=set(mylist)
print(myset)

TypeError: 'set' object is not callable

4. Explain the difference between the union() and update() methods for a set. Give an example of 
each method.

s.union(t)  s | t   new set with elements from both s and t

s.update(t) s |= t  return set s with elements added from t

5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [64]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level 
nested dictionary

In [65]:
people = {1: {'name': 'John', 'age': '27', 'sex': 'Male'},
          2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

print(people)

{1: {'name': 'John', 'age': '27', 'sex': 'Male'}, 2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

7. Using setdefault() method, create key named topics in the given dictionary and also add the value of 
the key as this l7. Using setdefault() method, create key named topics in the given dictionary and also add the value of 
the key as this list ['Python', 'Machine Learningâ€™, 'Deep Learning']
"

dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [80]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [81]:
dict1

{'language': 'Python', 'course': 'Data Science Masters'}

In [84]:
x1=dict1.setdefault("Topic","python,Machine Learning,Deep Learning")
x

'Machine Learning,Deep Learning'

In [85]:
dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'Topic': 'python,Machine Learning,Deep Learning'}

8. What are the three view objects in dictionaries? Use the three in-built methods in python to display 
these three view objects for the given dictionary.


dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [94]:
dict2 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [105]:
dict2['Sport']

'Cricket'

In [103]:
dict2['Teams']

['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']

In [104]:
dict2['Teams'][3]

'South Africa'

In [107]:
dict2
k=dict2.keys()
print(k)

dict_keys(['Sport', 'Teams'])

In [108]:
dict2
v=dict2.values()
print(v)

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [109]:
dict2
i=dict2.items()
print(i)

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])