In [ ]:
marks = int(input("enter the marks"))
if marks > 90:
    print("Grade: A")
elif marks > 80 and marks <= 90:
    print("Grade:B")
elif marks >=60 and marks <= 80:
    print("Grade:C")
else:
    print("Grade:D")

In [1]:
bike_price = int(input("enter the bike price "))
if bike_price > 100000:
    print("The road tax will be 15%")
elif bike_price > 50000 and bike_price <= 100000:
    print("The road tax will be 10%")
else:
    print("The road tax will be 5%")

enter the bike price 60000
The road tax will be 10%

In [4]:
city_name= input("enter thye city name  ")
if city_name=="delhi":
    print("The name of monumemt is Red Fort")
elif city_name=="agra":
    print("The name of monumemt is Taj Mahal")
elif city_name=="jaipur":
    print("The name of monumemt is Jal Mahal")

enter thye city name  jaipur
The name of monumemt is Jal Mahal

In [1]:
#start = int(input("Enter start number:"))
 
#end = int(input("Enter last number:"))
 
for i in range(0,11):
    if(i%3==0):
        print(i)

0
3
6
9

In [3]:
n = 5
for i in range(1, n + 1):
    for j in range(1, i + 1):
        print("*", end=" ")
    print('')

*
* *
* * *
* * * *
* * * * *

In [4]:
i = 10
while i > 0:
    print(i)
    i = i - 1

10
9
8
7
6
5
4
3
2
1